@{
    ViewBag.Title = "Inicio";
}



@*<div class="jumbotron" id="jumbo-header">
    <h2> </h2>
    <h3 class="lead"> </h3>
    <h4> </h4>
    
</div>*@
<div >
    <img src="~/Content/img/main-2.jpg" id="jumbo-header" />
</div>
<br />
<p>
    @Html.ActionLink("Ingresar", "Login", "Account", new { }, new { @class = "btn btn-default  btn-lg" })

@Html.ActionLink("Solicitar Acceso", "New", "Preregistro", new { },
      new { @class = "btn btn-info  btn-lg" })
</p>
@*<div class="row">
        <div class="col-md-6 border-bot">

            <h2>Tratados de Libre Comercio</h2>
            <p>
                En el caso del CAFTA-DR, los productos contenidos en el Anexo 3.3 de la Lista de El Salvador, están expresados de acuerdo con los términos del Arancel Centroamericano de Importación, el cual incluye el Sistema Arancelario Centroamericano (SAC), en su tercera enmienda, que es el punto de partida donde el CAFTA-DR comenzó las desgravaciones.
            </p>

        </div>
        <div class="col-md-6 border-bot">
            <h2>Registro de importador/exportador</h2>
            <p>En el caso del CAFTA-DR, los productos contenidos en el Anexo 3.3 de la Lista de El Salvador, están expresados de acuerdo con los términos del Arancel Centroamericano de Importación, el cual incluye el Sistema Arancelario Centroamericano (SAC), en su tercera enmienda, que es el punto de partida donde el CAFTA-DR comenzó las desgravaciones.</p>
            <p><a class="btn btn-success" href="#">Más información &raquo;</a></p>
        </div>
    </div>*@
