@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<img src="~./Content/img/error.png" width="400px"/>
<h1 class="text-danger">Lo sentimos ocurrio un error.</h1>
<h2 class="text-danger">Por favor intente nuevamente la operación o comuniquese con el area de soporte del Ministerio de Economía a la siguiente dirección de correo electrónico soporte@minec.gob.sv o al telefono 2222-0000.</h2>

